
@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Peliculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peliculas</h2>

<table class="table">
    <thead >
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    </thead>
    @foreach (var pelicula in Model)
    {


        <tbody>
        <tr>
            <td>@Html.ActionLink(pelicula.Name,"Detalle","ListaPeliculas",new {id = pelicula.Id },null)</td>

            <td>
                @pelicula.Genre
            </td>
           


        </tr>
        </tbody>
    }
</table>