
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Peliculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peliculas</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
    </tr>
    </thead>
    @foreach (var pelicula in Model)
    {


        <tbody>
        <tr>
            <td>@pelicula.Id</td>

            <td>
                @pelicula.Name
            </td>
        </tr>
        </tbody>
    }
</table>