
@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Peliculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peliculas</h2>

@Html.ActionLink("New","New",null,new {@class = "btn btn-primary btn-large" } )
<table class="table">
    <thead >
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    </thead>
    @foreach (var pelicula in Model)
    {


        <tbody>
        <tr>
            <td>@Html.ActionLink(pelicula.Name,"Edit","ListaPeliculas",new {id = pelicula.Id },null)</td>

           
            <td>@pelicula.GenreType.Name</td>


        </tr>
        </tbody>
    }
</table>