@model Vidly.Models.Customer

@{
    ViewBag.Title = @Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>
<h3>@Model.Name</h3>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
   

    @if (Model.Birthday.HasValue) { 
    <li>Birthday: @Model.Birthday</li>
    }
</ul>
