@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                <h2>Nombre</h2>
            </th>
            <th>Tipo de Membresia</th>
        </tr>
    </thead>



    @foreach (var cliente in Model)
    {
        <tbody>
            <tr>
                <td>@Html.ActionLink(cliente.Name, "Detalle", "ListaClientes", new { id = cliente.Id }, null)</td>
                <td>@cliente.MembershipType.Name</td>
            </tr>
        </tbody>
    }

</table>
@if (!Model.Any())
{
    <h3>No se encontraron clientes</h3>
}